@import "tailwindcss";

@theme {
  --color-yellow-primary: #ffbd00;
  --color-blue-primary: #2e6fff;

  --font-sans: "Roboto", system-ui, sans-serif;
  --font-display: "Barlow", sans-serif;

  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
}

@layer base {
  body {
    @apply bg-white text-gray-900 font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display;
  }
}